p{
    color: brown;
    font-size: large;
    font-family: verdana;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    font-size: xxx-large;
}

/* ID */
#chave p{
    background-color: yellow;
    font-size: 24px;
}


/* Classes */
.destaque{
    background-color: red;
    color: white;
}

.minuscula{
    text-transform: lowercase;
}



